{% extends 'main.html' %}

{% load static %}

{% block content %}
<div class="container">
    <h2>Create Job Seeker Profile</h2>
    <form method="POST" id="job-seeker-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.as_p }}
        <!--         
        <div class="form-group">
            <label for="id_skills">Skills</label>
            <input type="text" id="id_skills" name="skills" class="form-control" data-role="tagsinput">
        </div> -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}

{% block scripts %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

{{ form.media }}
{% endblock scripts %}