{% extends 'main.html' %}

{% block content %}
<h1>Home</h1>
<hr>

<div>
    <h2>Active Job Seekers</h2>
    {% for profile in job_seekers %}
    <div>
        <h3>{{ profile.user.username }}</h3>
        <p>{{ profile.bio }}</p>
        <p>Academics: {{ profile.academics }}</p>
        <p>Skills:</p>
        <ul>
            {% for skill in profile.skills.all|slice:":5" %}
            <li>{{ skill.name }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

    <hr>

    <h2>Active Recruiters</h2>
    {% for profile in recruiters %}
    <div>
        <h3>{{ profile.user.username }}</h3>
        <p>{{ profile.bio }}</p>
        <p>Company: {{ profile.companty }}</p>
    </div>
    {% endfor %}

    <hr>

</div>
{% endblock content %}