{% extends 'main.html' %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>


<h1>Home</h1>
<hr>

<div class="home-container">
    <div>
        <h3>Browse Topics</h3>
        <hr>

    </div>

    <div>
        <h2>Active Job Seekers</h2>
        <hr>
        {% for ref, profile in job_seekers %}
        <div>
            <h5>{{ profile.profile_title }}</h5>
            {% if request.user == profile.user %}
            <a href="{% url 'update_profile' ref.id %}">Edit</a>
            <a href="{% url 'delete_profile' ref.id %}">Delete</a>
            {% endif %}
            <span>{{ profile.profile_title }}</span>
            <h5>@{{ profile.user.username }}</h5>
            <p>Bio: {{ profile.bio }}</p>
            <p>Academics: {{ profile.academics }}</p>
            <p>Skills:</p>
            <ul>
                <!-- {% for skill in profile.skills.all|slice:":5" %}
                <li>{{ skill.name }}</li>
                {% endfor %} -->
                {% endfor %}
            </ul>
        </div>
        <hr>
        {% endfor %}
        <hr>

        <h2>Active Recruiters</h2>
        {% for ref, profile in recruiters %}
        <div>
            <h5> {{ profile.profile_title }}</h5>
            {% if request.user == profile.user %}
            <a href="{% url 'update_profile' ref.id %}">Edit</a>
            <a href="{% url 'delete_profile' ref.id %}">Delete</a>
            {% endif %}
            <span>{{ profile.profile_title }}</span>
            <h5>@{{ profile.user.username }}</h5>
            <!-- <p>Bio: {{ profile.bio }}</p> -->
            <p>Company: {{ profile.company }}</p>
        </div>
        {% endfor %}

    </div>

    <div>
        <h3>My Profiles</h3>
        <a href="{% url 'create_jobseeker' %}">Create Job Seeker Profile</a>
        <br>
        <a href="{% url 'create_recruiter' %}">Create Recruiter Profile</a>
    </div>


    <hr>

    <hr>

</div>
{% endblock content %}