<div>
{#    <h1>{{ profile_url }} Hello </h1>#}
{#{{ profile.slug }}#}
    <h5>
        <a href="{% url profile_url profile.slug %}" class="h5-link">{{ profile.title }}</a>
    </h5>

    {% if request.user == profile.user %}
        <a href="{% url 'update_profile' profile_type profile.slug %}">Edit</a>
        <a href="{% url 'delete_profile' profile_type profile.slug %}">Delete</a>
    {% endif %}

    <h5>@{{ profile.user.username }}</h5>

    <p>Bio: {{ profile.bio }}</p>

    {% if profile_type == 'jobseeker' %}
        <p>Academics: {{ profile.academics }}</p>
    {% else %}
        <p>Company: {{ profile.company }}</p>
    {% endif %}

    {% if profile_type == 'jobseeker' %}
        <p>Skills Available: </p>
    {% else %}
        <p>Skills Looking For: </p>
    {% endif %}
{#    <p>Skills {{ "Available" if profile_type == 'jobseeker' else "Looking For" }}:</p>#}
{#    <p>Skills {{ "Available" }}:</p>#}
    <ul>
        {% for skill in profile.skills.all|slice:":5" %}
            <li>{{ skill.title }}</li>
        {% endfor %}
    </ul>

    <p>Estimated Salary Offering: {{ profile.min_salary }} ~ {{ profile.max_salary }}</p>
    <p>Last Updated: {{ profile.updated }}</p>
</div>
<hr>
