{#<!DOCTYPE html>#}
{#<html lang="en">#}
{##}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>HireMonkey</title>#}
{##}
{#</head>#}
{##}
{#<body>#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>#}
{% extends 'base.html' %}
{% block info %}
    {% include 'navbar.html' %}

    {% if messages %}
{#        <ul class="messages">#}
        <div class="container-sm d-flex align-items-center">
            {% for message in messages %}
                {#                <li>{{ message }}</li>#}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
{#        </ul>#}
    {% endif %}

    {% block content %}

    {% endblock content %}
{% endblock info %}

{##}
{#</body>#}
{##}
{#</html>#}