{% extends 'main.html' %}

{% block content %}
<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        gap: 20px
    }
</style>


<div class="home-container">


    <div class="card mb-3">
        <h3 class="card-header">{{ request.user }}</h3>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200"
            aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice"
            viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
            <rect width="100%" height="100%" fill="#868e96"></rect>
            <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
        </svg>
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>



    <div>
        <h1>{{ user_status }}</h1>
        {% if user_status == 'Recruiter' %}
        <h2>Active Job Seekers</h2>
        <hr>
        {% for profile in job_seekers %}
        {% include 'base/profile_card.html' with profile_type='jobseeker' profile_url='jobseeker' %}
        {% endfor %}
        {% endif %}

        <hr>
        {% if user_status == 'JobSeeker' %}
        <h2>Active Recruiters</h2>
        <hr>
        {% for profile in recruiters %}
        {% include 'base/profile_card.html' with profile_type='recruiter' profile_url='recruiter' %}
        {% endfor %}
        {% endif %}
    </div>

    <div>
        <h3>My Profiles</h3>
        <ul>
            {% if user_status == 'JobSeeker' %}
            <li><a href="{% url 'create_jobseeker' %}">Create Job Seeker Profile</a></li>
            {% else %}
            <li><a href="{% url 'create_recruiter' %}">Create Recruiter Profile</a></li>
            {% endif %}
            <li><a href="{% url 'matched_profile' %}">Matched Profiles</a></li>
        </ul>

    </div>
</div>
{% endblock %}