{% extends 'main.html' %}

{% block content %}
<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

    .h5-link {
        font-size: 1.25rem;
        font-weight: bold;
        color: #007bff;
        text-decoration: none;
    }
</style>

<h1>Home</h1>
<hr>

<div class="home-container">
    <div>
        <h3>Browse Topics</h3>
        <hr>
    </div>

    <div>
        <h1>{{ user_status }}</h1>
        {% if user_status == 'Recruiter' %}
        <h2>Active Job Seekers</h2>
        <hr>
        {% for profile in job_seekers %}
        {% include 'base/profile_card.html' with profile_type='jobseeker' profile_url='jobseeker' %}
        {% endfor %}
        {% endif %}

        <hr>
        {% if user_status == 'JobSeeker' %}
        <h2>Active Recruiters</h2>
        <hr>
        {% for profile in recruiters %}
        {% include 'base/profile_card.html' with profile_type='recruiter' profile_url='recruiter' %}
        {% endfor %}
        {% endif %}
    </div>

    <div>
        <h3>My Profiles</h3>
        <ul>
            {% if user_status == 'JobSeeker' %}
            <li><a href="{% url 'create_jobseeker' %}">Create Job Seeker Profile</a></li>
            {% else %}
            <li><a href="{% url 'create_recruiter' %}">Create Recruiter Profile</a></li>
            {% endif %}
            <li><a href="{% url 'matched_profile' slug= %}">Matched Profiles</a></li>
        </ul>

    </div>
</div>
{% endblock %}