{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 50vh; margin-top: 5vh;">
    <div class="col-md-6 col-lg-4">
        <h2 class="text-center mb-4">Matched Profile</h2>
        {% for match in matches %}
        {% if user_session.user_status == JOBSEEKER %}
        <div class="container">
            {% include 'base/profile_card.html' with profile=match profile_type='recruiter' profile_url='recruiter' %}
        </div>
        {% endif %}

        {% if user_session.user_status == RECRUITER %}
        <div class="container">
            {% include 'base/profile_card.html' with profile=match profile_type='recruiter' profile_url='recruiter' %}
        </div>
        {% endif %}

        {% endfor %}
    </div>
</div>


{% endblock content %}