<div class="card mb-3 mt-3">
    <div class="card-header">
        {{ profile_type }}
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200"
        aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice"
        viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
    </svg>
    <div class="card-body">
        <h5>
            <a href="{% url profile_url profile.slug %}" class="h5-link">{{ profile.title }}</a>
        </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Bio: {{ profile.bio }}</li>
        {% if profile_type == JOBSEEKER %}
        <li class="list-group-item">Academics: {{ profile.academics }}</li>
        <li class="list-group-item">Skills available: </li>
        <ul>
            {% for skill in profile.skills.all|slice:":5" %}
            <li>{{ skill.title }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <li class="list-group-item">Company: {{ profile.company }}</li>
        <li class="list-group-item">Skills looking for: </li>
        <ul>
            {% for skill in profile.skills.all|slice:":5" %}
            <li>{{ skill.title }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <li class="list-group-item">Estimated Salary Offering: {{ profile.min_salary }} ~ {{ profile.max_salary }}</li>
    </ul>
    <div class="card-body">
        {% if request.user == profile.user %}
        <a href="{% url 'update_profile' profile_type profile.slug %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'delete_profile' profile_type profile.slug %}" class="btn btn-primary">Delete</a>
        {% else %}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <button class="btn btn-primary like-button" data-profile-slug="{{ profile.slug }}">
            <svg xmlns=" http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
                viewBox="0 0 16 16">
                <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
            </svg>
            Like
        </button>
        {% endif %}
    </div>
    <div class="card-footer text-body-secondary">
        Last Updated: {{ profile.updated }}
    </div>

</div>

<script>
    $(document).on('click', '.like-button', function (e) {
        e.preventDefault();
        let slug = $(this).data('profile-slug');
        $.ajax({
            type: 'POST',
            url: '{% url "like_profile" %}',
            data: {
                job_profile_slug: slug,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success: function (json) {
                console.log(json)
            },
            error: function (xhr, errmsg, err) {

            }
        });
    })
</script>