{% extends 'main.html' %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-6 col-lg-4">
        <form method="post" class="border p-4 shadow rounded">
            {% csrf_token %}

            <div class="mb-3">
                <label for="user_mode" class="form-label">Select your mode:</label>
                <select class="form-select" name="user_mode" id="user_mode">
                    <option value="" disabled selected>Select mode</option>
                    <option value="{{ JOBSEEKER }}">Job Seeker Mode</option>
                    <option value="{{ RECRUITER }}">Recruiter Mode</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary w-100">Select</button>
        </form>
    </div>
</div>

{% endblock content %}